/* Import fonts here */
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

* {
  border: 1px solid red;
  margin: 0;
  box-sizing: border-box;
}

h2,
h3,
h4 {
  font-family: "Zen Loop", cursive;
  font-style: bold;
  font-size: 3em;
  text-align: center;
}

p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1em;
}

header {
  background-color: #756b95;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Zen Loop", cursive;
}

#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-element {
  text-decoration: none;
  color: white;
  display: none;
}

header .menu-icon {
  width: 3em;
  height: 3em;
  background-image: url(https://img.icons8.com/cotton/64/000000/menu.png);
  background-size: contain;
}

section.design-strip {
  background-color: blue;
  background-image: url(https://res.cloudinary.com/dhcagrzcb/image/upload/v1626099863/landscape-background-4940099_1920_mti86t.jpg);
  background-size: cover;
  background-position: center;
  height: 15em;
  margin: 3em 0;
}

.about-me {
  background: rgba(171, 68, 223, 0.229);
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 3em;
  border-radius: 10px;
}

.about-me h2 {
  background: rgb(255, 255, 255);
}
.about-me p {
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #756b95;
  color: white;
  height: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-form {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.contact-form label {
  border: 2px rgba(171, 68, 223, 0.229) solid;
  border-radius: 3px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
/* label input,
textarea {
  display: flex;
  justify-content: center;
} */

.contact-form textarea {
  height: 6em;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyright img {
  width: 20px;
  height: 20px;
}

.copyright p {
  font-size: 0.7em;
  display: flex;
}
